<!DOCTYPE html>
<html>
    <head>
            <!-- <link rel="stylesheet" type="text/css" href="static/css/style.css"> -->
    </head>
    <body>

        <form action="/process" method="post">
        Name:<br>
        <input type="text" name="name">
        <br>
        Email:<br>
        <input type="text" name="email">
        <br><br>
        <input type="submit" value="Submit">
        </form> 

        <p>If you click the "Submit" button, nothing will happen, unless i did
            it right. Than something will happen. Woot!
        </p>

    </body>
</html>