<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Add a new user</h1>
    <form action="/process" method="post">
        {% csrf_token %}
        First Name:
        <input type="text" name="first" id="first">
        <br><br>
        Last Name:
        <input type="text" name="last" id="last">
        <br><br>
        Email:
        <input type="email" name="email" id="email">
        <br><br>
        <input type="submit" value="Create">
        <br><br>
    </form>
    <a href="/">Go Back</a>
    <br><br>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
            <h3>{{ message }}</h3>
            {% endif %}
        {% endfor %}
    {% endif %}
</body>
</html>